<ion-view title="Logout" ng-controller="LogoutController as logout_ctrl">
 	<header class="bar bar-header bar-positive">
 		<h1 class="title">Yo!</h1>
 	</header>
 	
  <ion-content class="has-header padding">
	
	<div class="list">
		
		<label class="item item-input">
			<button  ng-click="testing()">Enter</button>
		</label>
		
				<label class="item item-input">
			<button  ng-click="seeFunc()">CheckStuff</button>
		</label>

		<label class="item item-input">
			<button  ng-click="sock()">Enter</button>

		</label>


		<label class="item item-input">
			<button class="button button-positive button-block" ng-click="testing()">Enter</button>

		</label>


	</div>

  </ion-content>

</ion-view>
<!--
<h1>Yo!</h1>

<div ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>

<div ng-controller="logoutController">
  <a ng-click='facebooklogout()' class="btn btn-default">Facebook Logout</a>
</div>
-->
