<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  <link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/yeti/bootstrap.min.css" rel="stylesheet">
	<link href="http://cdn.foundation5.zurb.com/foundation.css" rel="stylesheet">

</head>


  <!-- scripts -->

  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/angular-local-storage/dist/angular-local-storage.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/angular-moment/angular-moment.min.js"></script>

    <script src="lib/sio-client/socket.io.js"></script>

    <script src="http://localhost:3000/socket.io/socket.io.js"></script>

    <script src="lib/angular-socket-io/socket.js"></script>

    <script src="js/services/SocketService.js"></script>
    <script src="js/services/Services.js"></script>

    <script src="js/controllers/HomeController.js"></script>
    <script src="js/controllers/RoomController.js"></script>
    <script src="js/controllers/LogoutController.js"></script>
    <script src="js/controllers/RegisterController.js"></script>
    <script src="js/controllers/PeopleinlineController.js"></script>
    <script src="js/controllers/StorelinesController.js"></script>
    <script src="js/controllers/StorenamesController.js"></script>



  </head>

/*
 * 	TO CLOSE MENUS ADD THIS			menu-close
 */

  <body ng-app="starter">
  	<!--<body ng-controller="MainCtrl"> -->
<ion-side-menus>
<ion-side-menu-content>
<ion-header-bar class="bar-positive">
<div class="buttons">
	 <button menu-toggle = "left" class = "button button-icon icon ion-navicon"></button>
	<!--	<button class="button icon button-clear ion-navicon-round" ng-click="toggleLeft()"></button>  -->
</div>
<h1 class="title">Sidemenu</h1>

</ion-header-bar>
      <ion-nav-view>
      </ion-nav-view>


</ion-side-menu-content>


<ion-side-menu side="left">
<ion-list>
<ion-item menu-close href="/#/login">Login</ion-item>
</ion-list>

<ion-list>
<ion-item menu-close href="/#/register">Register</ion-item>
</ion-list>
<ion-list>
<ion-item menu-close href="/#/logout">Logout</ion-item>
</ion-list>
<ion-list>
<ion-item menu-close href="/#/storelines">Storelines</ion-item>
</ion-list>
<ion-list>
<ion-item menu-close href="/#/storenames">Storenames</ion-item>
</ion-list>
<ion-list>
<ion-item menu-close href="/#/peopleinline">PeopleInLine</ion-item>
</ion-list>

</ion-side-menu>
</ion-side-menus>

<!--
      
      <ion-side-menus>
	<ion-side-menu-content>
      <ion-nav-view>
      </ion-nav-view>
	 <button menu-toggle = "left" class = "button button-icon icon ion-navicon"></button>

	</ion-side-menu-content>
	
	<ion-side-menu side="left">
	
	</ion-side-menu>
</ion-side-menus>
      
      
      
        <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

-->
  </body>
</html>
